.btn {
  border: 1px solid #ccc;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;

  height: 32px;
  min-width: 64px;
}

.true {
  color: #fff;
  background-color: #96CE4E;
  border-color: transparent;
}