.root {
  display: flex;
  flex-direction: column;

  height: 100%;
  width: 100%;
  min-width: 375px;

  background-color: #333;
}

.mobileMenu {
  padding: 14px;
  width: 100%;
  height: 64px;

  background-color: #fff;
}

.body {
  display: flex;
  flex-direction: column;

  padding: 14px;
  height: 100%;
}

.desktopMenu {
  display: none;
  visibility: hidden;

  gap: 14px;

  background-color: #fff;
  padding: 14px;
}

.link {
  text-decoration: none;
  color: #333;
  
}

@media (min-width: 768px) {
  .mobileMenu {
    visibility: hidden;
    display: none;
  }

  .desktopMenu {
    display: flex;
    visibility: visible;
  }
}
