.root {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: calc(100vw - 125px);
    height: 100%;
}

.nowPlaying {
    width: 798px;
}

.list {
    width: 480px;
    max-height: 428px;
    overflow-y: auto;
}

.player {
    width: 284px;
}

@media (max-width: 768px) {
    .root {
        width: 100%;
        max-width: unset;
    }

    .player {
        width: 100%;
    }

    .content {
        flex-direction: column;
    }

    .nowPlaying {
        width: 100%;
    }

    .list {
        width: 100%;
    }

    .root :global(.ant-space-item), .root :global(.ant-space) {
        width: 100%;
    }
}
