.root {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 14px;
  background-color: #fff;
  border-radius: 8px;
}

/* */

.catsRoot {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.catsItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.catsItemBtnsRoot {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

/* */

.trackInfoRoot {
  display: flex;
  gap: 14px;
}

.trackPicture {
  background-color: #c4c4c4;
  border-radius: 50%;

  width: 64px;
  min-width: 64px;
  height: 64px;
}

.trackInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: calc(100% - calc(64px + 14px));
}

.trackInfoId3 {
  font-size: 15px;
  font-weight: bold;
}

.trackInfoFName {
  color: #333;
  font-size: 13px;
}

.trackInfoFPath {
  color: #333;
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}